@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins';
    flex-direction: column;
}

p {
    font-size: 2rem;
    font-weight: bold;
}

.amarelo {
    color: rgb(231, 212, 39);
}

.azul {
    color: blue;
}

#dois {
    background-color: rgb(11, 33, 131);
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.remulexo {
    transform: translateX(-5px) translateY(-5px);
}
